@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #F5F5F5;
    font-family: "Inter";
    font-style: normal;
}

a {
    text-decoration: none;
}

/* header */

header {
    padding: 16px 80px;
    background: #FFFFFF;
    border-bottom: 1px solid #E9E9E9;
}

.header-container {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}

.logo {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.logo-icon {
    width: 40px;
    height: 40px;
}

.logo-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    text-transform: capitalize;
    background: linear-gradient(125.04deg, #632EE3 5.68%, #9F62F2 88.38%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.nav-list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.nav-item {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-transform: capitalize;
    color: rgba(0, 0, 0, 0.9);
    cursor: pointer;
}

.active {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    text-transform: capitalize;
    background: linear-gradient(125.04deg, #632EE3 5.68%, #9F62F2 88.38%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    position: relative;
}

.active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px; 
    width: 100%;
    height: 1px;
    background: linear-gradient(125.04deg, #632EE3 5.68%, #9F62F2 88.38%);
    border-radius: 1px;
}

.header-cta-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    gap: 10px;
    margin: 0 auto;
    width: 145px;
    height: 43px;
    background: linear-gradient(125.04deg, #632EE3 5.68%, #9F62F2 88.38%);
    border-radius: 4px;
    border: none;
    outline: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-transform: capitalize;
    color: #FFFFFF;
    cursor: pointer;
}


.hamburger {
  cursor: pointer;
}

.hamburger input {
  display: none;
}

.hamburger svg {
  height: 3em;
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
  fill: none;
  stroke: rgb(0, 0, 0);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
              stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}


.line-top-bottom {
  stroke-dasharray: 12 63;
}

.hamburger input:checked + svg {
  transform: rotate(-45deg);
}

.hamburger input:checked + svg .line-top-bottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}

.mobile-menu-ui {
  position: absolute;
  right: 0px;
  display: none;
  max-width: 1300px;
  width: 40%;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  top: 0;
  height: 100%;
  flex-direction: column-reverse;
  z-index: 99999999;
}

.mobile-nav-list {
  display: none;
}

.mobile-menu {
    display: none;
}

.mobile-hamburger {
  display: none !important;
}

.cover-whole-body {
  display: none;
  z-index: 1;
}

.hidden {
  display: none !important;
}

body.no-scroll {
  overflow: hidden !important;
  position: fixed !important;
  width: 100% !important;
  height: 100% !important;
}

body.no-scroll {
  -webkit-overflow-scrolling: touch;
  overscroll-behavior: none;
}

@media (max-width:730px) {
    .header-container {
        display: none;
    }
    .mobile-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .mobile-menu label {
      z-index: 99999999999999;
    }
    .mobile-menu-ui {
      display: flex;
    }
    .mobile-nav-list {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 2rem;
      list-style-type: none;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      text-transform: capitalize;
      color: rgba(0, 0, 0, 0.9);
    }
    .mobile-hamburger {
      display: block;
      z-index: 9;
    }   
    .cover-whole-body {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      padding: 0;
      margin: 0;
      height: 100%;
      width: 100%;
      backdrop-filter: blur(2px);
      background-color: #0000005e;
    }
}


@media (max-width :425px) {
  .mobile-menu-ui {
    width: 60%;
  }
    .mobile-menu-ui:not(.hidden),
  .mobile-menu-ui.hidden {
    animation-duration: 0.25s;
  }
  
  .cover-whole-body,
  .cover-whole-body.hidden {
    animation-duration: 0.25s;
  }
}



.cover-whole-body {
  animation: fadeIn 0.3s ease-in-out;
}

.cover-whole-body.hidden {
  animation: fadeOut 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    backdrop-filter: blur(0px);
  }
  to {
    opacity: 1;
    backdrop-filter: blur(2px);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    backdrop-filter: blur(2px);
  }
  to {
    opacity: 0;
    backdrop-filter: blur(0px);
  }
}

.mobile-menu-ui {
  animation: slideInRight 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
  transform: translateX(100%);
}

.mobile-menu-ui:not(.hidden) {
  animation: slideInRight 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}

.mobile-menu-ui.hidden {
  animation: slideOutRight 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOutRight {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}

@keyframes dashAnimation {
  0% {
    stroke-dasharray: 12 63;
  }
  50% {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
  }
  100% {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
  }
}

.mobile-nav-list {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.4s ease 0.1s;
}

.mobile-menu-ui:not(.hidden) .mobile-nav-list {
  opacity: 1;
  transform: translateY(0);
}

.mobile-nav-item {
  opacity: 0;
  transform: translateX(30px);
  transition: all 0.3s ease;
}

.mobile-menu-ui:not(.hidden) .mobile-nav-item {
  opacity: 1;
  transform: translateX(0);
}

.mobile-menu-ui:not(.hidden) .mobile-nav-item:nth-child(1) { 
    transition-delay: 0.1s; 
  }
.mobile-menu-ui:not(.hidden) .mobile-nav-item:nth-child(2) { 
    transition-delay: 0.15s; 
  }
.mobile-menu-ui:not(.hidden) .mobile-nav-item:nth-child(3) { 
    transition-delay: 0.2s; 
  }
.mobile-menu-ui:not(.hidden) .mobile-nav-item:nth-child(4) { 
    transition-delay: 0.25s; 
  }
.mobile-menu-ui:not(.hidden) .mobile-nav-item:nth-child(5) { 
    transition-delay: 0.3s; 
  }
.mobile-menu-ui:not(.hidden) .mobile-nav-item:nth-child(6) { 
    transition-delay: 0.35s; 
  }
.mobile-menu-ui:not(.hidden) .mobile-nav-item:nth-child(7) { 
    transition-delay: 0.4s; 
  }

.mobile-menu-ui.hidden .mobile-nav-list,
.mobile-menu-ui.hidden .mobile-nav-item {
  opacity: 0;
  transform: translateX(30px);
  transition: none;
}


/* hero section */

.hero {
    background: transparent;
    max-height: 800px;
    padding-top: 2rem;
    overflow: hidden;
}

.hero-container{
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
}

.hero-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    text-align: center;
    text-transform: capitalize;
    color: #001931;
    opacity: 0.9;
}

.hero-highlight {
    background: linear-gradient(125.04deg, #632EE3 5.68%, #9F62F2 88.38%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.hero-description {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #627382;
    width: 70%;
    max-width: 1000px;
}

.download-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.download-btn {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    gap: 10px;
    width: 206px;
    height: 56px;
    border: 1px solid #D2D2D2;
    border-radius: 4px;
    outline: none;
    background-color: transparent;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-transform: capitalize;
    color: #001931;
    cursor: pointer;
}

.hero-image {
    margin: 1rem auto 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65%;
}

@media (max-width:1180px) {
    .hero-image {
        margin: 1rem auto -46px auto;
    }
}


@media (max-width:768px){
    .hero-title {
        font-size: 50px;
    }
}

@media (max-width:730px) {
    .hero {
        padding-top: 0;
    }
}


@media (max-width:550px) {
    .hero-description {
        font-size: 16px;
    }

    .hero-title {
        font-size: 40px;
    }

    .download-btns {
        flex-direction: column;
    }
    .hero {
        height: 85vh;
        max-height: none;
    }
    .hero-image {
        width: 100%;
    }

    header {
        padding: 16px 30px;
    }
}

@media (max-width:425px) {
    .hero-description {
        width: 90%;
    }
    .hero {
        height: 82vh;
    }
}

/* trust section */

.trust {
    padding: 80px;
    background: linear-gradient(125.04deg, #632EE3 5.68%, #9F62F2 88.38%);
}

.trust-container {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.2rem;
}

.trust-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
}

.trust-states {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
}

.state-item {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.state-top, .trust-bottom {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
    opacity: 0.8;
}

.state-number {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 64px;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
}

@media (max-width:1024px) {
    .state-number {
        font-size: 45px;
    }
    .trust-states {
        width: 100%;
    }
}

@media (max-width:768px) {
    .trust-title {
        font-size: 35px;
    }
}

@media (max-width:730px){
    .trust-states {
        flex-direction: column;
        gap: 4rem;
    }
    .trust-title {
        max-width: 350px;
    }
}

@media (max-width:425px){
    .trust-title {
        font-size: 23px;
    }

    .state-number {
        font-size: 25px;
    }

    .state-item {
        gap: 5px;
    }
}


/* trending section */

.trending {
    padding: 2rem 0 2rem 0;
}

.trending-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    text-align: center;
    text-transform: capitalize;
    color: #001931;
    margin-bottom:1rem;
}

.trending-description {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #627382;
}

.trending-container {
    max-width: 1300px;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
    width: 80%;
}

.app-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 16px;
    background: #FFFFFF;
    border-radius: 4px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.app-card:hover {
    transform: translateY(-5px);
}

.app-image {
    background: #D9D9D9;
    border-radius: 8px;
    width: 100%;
}

.app-name {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-transform: capitalize;
    color: #001931;
}

.app-states {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.download-icon , .rating-icon {
    width: 16px;
    height: 16px;
}

.app-downloads , .app-ratings {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.app-downloads {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 10px;
    gap: 8px;
    background: #F1F5E8;
    border-radius: 4px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-transform: capitalize;
    color: #00D390;
}

.app-ratings {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 10px;
    gap: 8px;
    background: #FFF0E1;
    border-radius: 4px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-transform: capitalize;
    color: #FF8811;
}

.all-applications {
    position: relative;
}

.no-apps-there {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
}

.no-apps-found {
    margin: 0 auto;
    font-size: 1.2em;
}

@media (max-width: 1024px) {
    .trending-container {
        grid-template-columns: 1fr 1fr;
        padding: 0 1rem; 
    }
}

@media (max-width: 768px) {
    .trending-container {
        grid-template-columns: 1fr;
    }

    .trending-title {
        font-size: 36px;
    }

    .trending-description {
        font-size: 18px;
    }
}

.all-apps-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    gap: 10px;
    width: 145px;
    height: 48px;
    background: linear-gradient(125.04deg, #632EE3 5.68%, #9F62F2 88.38%);
    border-radius: 4px;
    margin: 0 auto;
    border: none;
    outline: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-transform: capitalize;
    color: #FFFFFF;
    cursor: pointer;
    transition: all 0.2s ease;
}

.all-apps-btn:hover {
    transform: translateY(-4px);
}

.all-apps-link {
    margin: 0 auto;
}

@media (max-width:425px) {
    .trending-title {
        font-size: 25px;
    }

    .trending-title {
        font-size: 25px;
    }

    .trending-description {
        font-size: 15px;
        text-align: center;
        width: 80%;
        margin: 1rem auto;
    }

}

/* apps page */

.app-hero {
    padding: 2rem;
    margin: 2rem auto;
}

.app-hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    max-width: 1300px;
    margin: 0 auto;
}

.app-hero-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    text-align: center;
    text-transform: capitalize;
    color: #001931;
}

.app-hero-description {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #627382;
}

.app-hero-description-installatoin {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    color: #627382;  
}

.apps-tools {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1180px;
    width: 90%;
    margin: 0 auto;
}

.app-count {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: #001931;
}

.description-heading {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: #001931;
}

.description-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #627382;
    margin-bottom: 2rem;
}

.app-details-description {
    max-width: 1300px;
    margin: 0 auto;
    width: 80%;
}

.description-heading {
    margin-bottom: 1rem;
}

 @media (max-width:1024px) {
    .apps-tools {
        width: 80%;
    }
 }

 @media (max-width:600px) {
    .app-hero-title {
        font-size: 35px;
    }

    .app-hero-description {
        font-size: 18px;
        width: 70%;
    }

    .apps-tools {
        flex-direction: column;
        gap: 1rem;
    }
    .no-apps-there {
        bottom: 0;
    }
 }

 @media (max-width:550px) {

 }
/* app detail page */

.app-details-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    max-width: 1300px;
    margin: 2rem auto;
    width: 80%;
    gap: 2rem;
    align-items: center;
}

.app-details-right {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.app-details-icon-img {
    box-shadow: 0px 10px 20px -12px rgba(0, 0, 0, 0.1);
    width: 350px;
}

.app-details-icon {
    width: fit-content;
}

.app-name-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    text-transform: capitalize;
    color: #001931;
}

.app-developed-by {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #627382;
}

.company-developer {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    background: linear-gradient(125.04deg, #632EE3 5.68%, #9F62F2 88.38%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.app-details-states {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.downloads-states {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.app-install-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px 20px;
    gap: 10px;
    width: 239px;
    height: 52px;
    background: #00D390;
    border-radius: 4px;
    border: none;
    outline: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-transform: capitalize;
    color: #FFFFFF;
    cursor: pointer;
}

.download-detail-tag {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-transform: capitalize;
    color: #001931;
    opacity: 0.8;
    text-align: center;
}

.download-detail-num {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    text-transform: capitalize;
    color: #001931;
}

.app-details-below-hr {
    width: 80%;
    margin: 2rem auto;
}

.rating-section {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 80%;
}

.ratings-section-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: #001931;
}

.ratings-chart {
    height: 100%;
    width: 80%;
    position: relative;
    left: -30px;
    padding-top: 1rem;
}

@media (max-width:948px) {
    .app-details-icon-img {
        width: auto;
    }
}

@media (max-width:850px) {
    .download-detail-num {
        font-size: 25px;
    }
}

@media (max-width:768px) {
    .app-details-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        width: 100%;
    }

    .app-details-icon-img {
        width: 350px;
    }

    .app-install-btn {
        margin: 1.5rem auto;
    }

    .app-details-states {
        gap: 10px;
    }
}

@media (max-width:370px) {
    .app-details-icon-img {
        width: auto;
    }
    .app-details-states {
        flex-direction: column;
    }
    .app-name-title {
        text-align: center;
    }
    .app-developed-by {
        text-align: center;
        width: 90%;
        margin: 0 auto;
    }
    .app-details-line {
        width: 80%;
        margin: 0 auto;
    }
}

/* 404 page */
.app-not-found-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 2rem auto;
}

.app-not-found-img {
    width: 30%;
}

.not-found-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.012em;
    color: #001931;
}

.not-found-desc {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #627382;
}

.back-btn-not-found {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    gap: 10px;
    width: 150px;
    height: 48px;
    background: linear-gradient(125.04deg, #632EE3 5.68%, #9F62F2 88.38%);
    border-radius: 4px;
    border: none;
    outline: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-transform: capitalize;
    color: #FFFFFF;
    cursor: pointer;
    transition: all 0.2s ease;

}

.back-btn-not-found:hover {
    transform: translateY(-5px);
}

/* installation page */

.installed-apps {
    padding: 1rem auto 1rem auto;
}

.installed-apps-container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
    gap: 1rem;
    max-width: 1300px;
    margin: 0 auto;
    width: 80%;
    padding-bottom: 2rem;
}

.installed-apps-tool {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 1rem auto;
}

.installed-app-count {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: #001931;
}

.chevron-icon {
  color: #495057; 
}


.sort-button-container {
  position: relative; 
  display: inline-block;
}

.sort-button-visual {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    padding: 10px 15px;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 6px;
    cursor: pointer;
    text-align: left;
    position: relative;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #627382;
}

.sort-button-visual:focus {
  outline: none;
}

.chevron-icon {
  color: #495057;
}

.dropdown-menu {
  position: absolute; 
  top: calc(100% + 5px); 
  left: 0;
  width: 100%;
  background-color: #ffffff;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  list-style: none;
  padding: 5px 0;
  margin: 0;
  z-index: 1000;
}

.dropdown-menu li {
  padding: 10px 15px;
  font-size: 15px;
  color: #4a5568;
  cursor: pointer;
  transition: background-color 0.15s ease-in-out;
}

.dropdown-menu li:hover {
  background-color: #f3f4f6;
}

.chevron-icon {
  color: #495057;
  transition: transform 0.2s ease-in-out; 
}

.chevron-icon.open {
  transform: rotate(180deg);
}

.installed-apps-items-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.installed-app-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    gap: 16px;
    background: #FFFFFF;
    border-radius: 4px;
    width: 100%;
}

.installed-app-left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.installed-app-icon {
    width: 80px;
    height: 80px;
    border-radius: 8px;
}

.installed-app-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.installed-app-name {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-transform: capitalize;
    color: #001931;
}

.installed-app-states {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5rem;
}

.installed-app-downloads {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-transform: capitalize;
    color: #00D390;
}

.installed-app-rating {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-transform: capitalize;
    color: #FF8811;
}

.installed-app-ratings {
    height: 15px;
    width: 15px;
}

.installed-app-size {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-transform: capitalize;
    color: #627382;
}

.uninstall-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    gap: 10px;
    width: 100px;
    height: 43px;
    background: #00D390;
    border-radius: 4px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    text-transform: capitalize;
    color: #FFFFFF;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.2s ease;
}

.uninstall-btn:hover {
    transform: translateY(-5px);
}

.no-installed-apps {
    margin: 0 auto;
    font-size: 3em;
}

.no-installed-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width:600px) {
    .installed-app-item {
        flex-direction: column;
        width: 100%;
        max-width: 450px;
        margin: 0 auto;
    }
    .installed-app-left {
        flex-direction: column;
    }
    .installed-app-icon {
        width: 100%;
        height: auto;
    }
    .installed-app-name {
        text-align: center;
    }
    .app-hero-title {
        font-size: 25px;
    }
    .app-hero-description-installatoin {
        font-size: 18px;
        font-weight: 700;
    }
}

@media (max-width:460px) {
    .installed-apps-tool {
        flex-direction: column;
        gap: 1rem;
    }
}

/* footer */

footer {
    background-color: #212121;
    padding: 2rem 0 3rem 0;
}

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1300px;
    margin: 0 auto;
    width: 80%;
    color: white;
    padding: 1rem 0 1rem 0;
    gap: 2rem;
}

.footer-nav-list {
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    color: rgb(196, 191, 191);
    gap: 1rem;
}

.footer-nav-item {
    cursor: pointer;
}

.footer-nav-item:hover {
    color: white;
}

.social-login-icons {
  display: flex;
  align-items: center;
  gap: 10px;
  -webkit-box-reflect: below -20px linear-gradient(transparent, #ffffff55);
  cursor: pointer;
}
.social-login-icons svg {
  width: 40px;
}

.social-icon-1,
.social-icon-1-1,
.social-icon-2,
.social-icon-2-2,
.social-icon-3,
.social-icon-3-3,
.social-icon-4,
.social-icon-4-4 {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  margin: 20px 0 0px 0;
}

.icon svg {
  fill: #ffffff;
}

.socialcontainer {
  height: 80px;
  overflow: hidden;
}
.social-icon-1 {
  transition-duration: 0.4s;
  background-color: rgb(0, 0, 0);
  transition-timing-function: cubic-bezier(0.46, -0.78, 0.5, 1.56);
}
.social-icon-1 svg,
.social-icon-2 svg,
.social-icon-3 svg,
.social-icon-4 svg {
  opacity: 0;
  transition-duration: 0.5s;
  transition-delay: 0.2s;
}
.social-icon-1-1 {
  transition-duration: 0.4s;
  background-color: rgb(0, 0, 0, 0);
}
.socialcontainer:hover .social-icon-1 {
  transform: translateY(-70px);
}
.socialcontainer:hover .social-icon-1 svg,
.socialcontainer:hover .social-icon-2 svg,
.socialcontainer:hover .social-icon-3 svg,
.socialcontainer:hover .social-icon-4 svg {
  opacity: 1;
}
.social-icon-2 {
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0.46, -0.78, 0.5, 1.56);
  background: linear-gradient(
    72.44deg,
    #ff7a00 11.92%,
    #ff0169 51.56%,
    #d300c5 85.69%
  );
}
.socialcontainer:hover .social-icon-2 {
  transform: translateY(-70px);
}
.social-icon-3 {
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0.46, -0.78, 0.5, 1.56);
  background: #316ff6;
}

.socialcontainer:hover .social-icon-3 {
  transform: translateY(-70px);
}
.social-icon-4 {
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0.46, -0.78, 0.5, 1.56);

  background: linear-gradient(
    180deg,
    rgba(129, 34, 144, 1) 0%,
    rgba(77, 34, 124, 1) 91%
  );
}

.socialcontainer:hover .social-icon-4 {
  transform: translateY(-70px);
}


.footer-branding {
    display: flex;
    gap: 10px;
    align-items: center;
}


.logo-icon-footer {
    width:  70px;
    height: 70px;
}

.logo-text-footer {
    color: white;
    font-size: 1.2em;
}

.footer-right {
    font-size: 1.2em;
}


@media (max-width:768px) {
    .no-installed-apps {
        font-size: 2em;
    }
}
